<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.tail}}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.addr}}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.wechat_username %}
          <li>
            {% include icon-wechat.html username=site.wechat_username %}
          </li>
          {% endif %}

          {% if site.weibo_username %}
          <li>
            {% include icon-weibo.html username=site.weibo_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
    <div class="footer-col-wrapper">
        <p><a href="http://www.miitbeian.gov.cn">粤ICP备17035252号-1</a></p>
    </div>
  </div>

</footer>
